.bee-magazine {
    position: relative;
    white-space: nowrap;
}

.ddsgnr-library,
.ddsgnr-library1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ddsgnr-library {
    height: 89px;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 25.1px;
    font-family: Inter;
}

.home {
    position: relative;
    line-height: 150%;
}

.row-card-content-title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
}

.upload {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    font-family: Roboto;
    color: #000;
    text-align: left;
}

.column,
.row-card-content-title1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.row-card-content-title1 {
    cursor: pointer;
    border: 0;
    padding: 10px;
    background-color: transparent;
    border-bottom: 1px solid #000;
}

    .row-card-content-title1:hover {
        background-color: rgba(51, 51, 51, 0.09);
    }

.column {
    width: 167px;
    overflow: hidden;
    flex-shrink: 0;
    gap: 0 32px;
}

.hi-ed {
    height: 36px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.button1,
.hi-ed {
    position: relative;
    line-height: 150%;
}

.button,
.column2 {
    flex-direction: row;
    justify-content: center;
}

.button {
    flex: 1;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    padding: 8px 19px;
    white-space: nowrap;
}

.column2 {
    width: 94px;
    text-align: left;
}

.column1,
.column2,
.container,
.navbar-3 {
    display: flex;
    align-items: center;
}

.column1 {
    width: 245px;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    gap: 0 32px;
    text-align: center;
}

.container,
.navbar-3 {
    align-self: stretch;
}

.container {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.navbar-3 {
    background-color: #fff;
    box-shadow: 0-1px 0#000 inset;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    padding: 14px 64px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Roboto;
}

.article-title {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}

.content,
.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title {
    width: 1292px;
    min-height: 42px;
    max-width: 633%;
    flex-shrink: 0;
}

.content {
    width: 220px;
}

.tech-terrain-navigating {
    width: 1051px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    max-width: 100%;
}

.card,
.content1,
.row,
.title1 {
    display: flex;
    justify-content: flex-start;
}

.title1 {
    width: 1292px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 42px;
    max-width: 633%;
    flex-shrink: 0;
}

.card,
.content1,
.row {
    flex-direction: row;
}

.content1 {
    margin-left: 10px;
    width: 204px;
    align-items: flex-start;
    color: #000;
}

.card,
.row {
    align-items: center;
}

.card {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
    max-width: 100%;
}

.row {
    width: 1312px;
    background-color: #fff;
}

.article-description {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}

.content2,
.title2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.title2 {
    width: 1292px;
    min-height: 42px;
    max-width: 630%;
    flex-shrink: 0;
}

.content2 {
    width: 205px;
}

.lorem-ipsum-dolor {
    width: 1292px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 128%;
    flex-shrink: 0;
}

.card1,
.content3,
.row1,
.title3 {
    display: flex;
    justify-content: flex-start;
}

.title3 {
    width: 1010px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 42px;
    max-width: 100%;
}

.card1,
.content3,
.row1 {
    flex-direction: row;
}

.content3 {
    align-items: flex-start;
    max-width: 100%;
    color: #000;
}

.card1,
.row1 {

}

.card1 {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
    max-width: 100%;
}

.row1 {
    width: 1312px;
    background-color: #fff;
}

.date-submitted {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}

.content4,
.title4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title4 {
    justify-content: flex-start;
    min-height: 42px;
    max-width: 633%;
    flex-shrink: 0;
}

.content4 {
    height: 63px;
    justify-content: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.mar-15-2024-1100-am {
    width: 1292px;
    position: relative;
    line-height: 150%;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 122%;
    flex-shrink: 0;
}

.card2,
.content5,
.row2,
.title5 {
    display: flex;
    justify-content: flex-start;
}

.title5 {
    width: 1062px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 42px;
    max-width: 521%;
    flex-shrink: 0;
}

.card2,
.content5,
.row2 {
    flex-direction: row;
}

.content5 {
    width: 204px;
    align-items: flex-start;
    color: #000;
}

.card2,
.row2 {
    align-items: center;
}

.card2 {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
    max-width: 100%;
}

.row2 {
    width: 1312px;
    background-color: #fff;
}

.final-deadline {
    width: 190px;
    position: relative;
    line-height: 140%;
    display: inline-block;
}

.content6,
.title6 {
    display: flex;
    justify-content: flex-start;
}

.title6 {
    height: 42px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 633%;
    flex-shrink: 0;
}

.content6 {
    height: 62px;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.may-10-2024-1159-pm {
    width: 1292px;
    position: relative;
    line-height: 150%;
    white-space: pre-wrap;
    display: inline-block;
    max-width: 123%;
    flex-shrink: 0;
}

.content7,
.title7 {
    display: flex;
    justify-content: flex-start;
}

.title7 {
    width: 1054px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 42px;
    max-width: 517%;
    flex-shrink: 0;
}

.content7 {
    width: 204px;
    color: #000;
}

.card3,
.content7,
.row3 {
    flex-direction: row;
    align-items: center;
}

.card3 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
    max-width: 100%;
}

.row3 {
    width: 1312px;
    background-color: #fff;
}

.content8,
.magazine-inf,
.row3 {
    display: flex;
    justify-content: flex-start;
}

.magazine-inf {
    width: 1312px;
    overflow-x: auto;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.content8 {
    width: 204px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 62px;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 700;
    font-size: 24px;
    color: #000;
}

.submitted {
    width: 1292px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 122%;
    flex-shrink: 0;
}

.card4,
.content9,
.status,
.title8 {
    display: flex;
    justify-content: flex-start;
}

.title8 {
    width: 1063px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 42px;
    max-width: 521%;
    flex-shrink: 0;
}

.card4,
.content9,
.status {
    flex-direction: row;
    align-items: center;
}

.content9 {
    width: 204px;
}

.card4,
.status {
    max-width: 100%;
}

.card4 {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
}

.status {
    align-self: stretch;
    background-color: #cddffc;
}

.file-submissions {
    position: relative;
    line-height: 140%;
}

.content10,
.title9 {
    display: flex;
    justify-content: flex-start;
}

.title9 {
    height: 42px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 633%;
    flex-shrink: 0;
}

.content10 {
    height: 62px;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.title-child {
    width: 527px;
    height: 24px;
    position: absolute;
    margin: 0 !important;
    top: 9px;
    left: 0;
    border-radius: 3px;
}

.comp1640-techterrrainnavigati {
    top: 9px;
    left: 45px;
    line-height: 150%;
}

.comp1640-techterrrainnavigati,
.icon,
.title-item {
    position: absolute;
    margin: 0 !important;
    z-index: 1;
}

.icon {
    width: 16px;
    height: 17px;
    top: 12px;
    left: 25px;
    object-fit: cover;
}

.title-item {
    width: 18px;
    height: 1px;
    top: 21px;
    left: 4px;
}

.title10 {
    height: 42px;
    width: 1063px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px 0;
    max-width: 166%;
    flex-shrink: 0;
}

.content11 {
    width: 641px;
    font-size: 16px;
}

.card5,
.content11,
.file-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
}

.card5 {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
}

.file-submit {
    align-self: stretch;
    background-color: #cddffc;
}

.image-file {
    width: 190px;
    position: relative;
    line-height: 140%;
    display: inline-block;
}

.content12,
.title11 {
    display: flex;
    justify-content: flex-start;
}

.title11 {
    height: 42px;
    flex-direction: column;
    align-items: flex-start;
    max-width: 633%;
    flex-shrink: 0;
}

.content12 {
    height: 62px;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
}

.title-inner {
    width: 308px;
    height: 24px;
    position: absolute;
    margin: 0 !important;
    top: 9px;
    left: 0;
    border-radius: 3px;
}

.landingpicturefortechterrrain {
    top: 9px;
    left: 45px;
    line-height: 150%;
}

.icon1,
.landingpicturefortechterrrain,
.line-icon {
    position: absolute;
    margin: 0 !important;
    z-index: 1;
}

.icon1 {
    width: 16px;
    height: 17px;
    top: 12px;
    left: 25px;
    object-fit: cover;
}

.line-icon {
    width: 18px;
    height: 1px;
    top: 21px;
    left: 4px;
}

.title12 {
    height: 42px;
    width: 1063px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 8px 0;
    max-width: 166%;
    flex-shrink: 0;
}

.content13 {
    width: 641px;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}

.card6,
.content13,
.image,
.status-card-content1 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.card6 {
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 0 24px;
    min-height: 52px;
}

.image,
.status-card-content1 {
    align-self: stretch;
}

.image {
    background-color: #cddffc;
    flex-direction: row;
    align-items: center;
}

.status-card-content1 {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 9px;
    box-sizing: border-box;
    color: #000;
}

.edit-submit-child {
    height: 38px;
    width: 164.8px;
    position: relative;
    border-radius: 5px;
    display: none;
}

.edit-submission {
    flex: 1;
    position: relative;
    line-height: 150%;
    flex-shrink: 0;
    z-index: 1;
}

.edit-submit {
    width: 167.7px;
    border-radius: 5px;
    background-color: #4644a0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 6px 18.800000000000185px;
    box-sizing: border-box;
    white-space: nowrap;
}

.remove-submit-child {
    height: 38px;
    width: 190px;
    position: relative;
    border-radius: 5px;
    display: none;
}

.remove-submission {
    position: relative;
    line-height: 150%;
    z-index: 1;
}

.instagram-link,
.remove-submit,
.twitter-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.remove-submit {
    border-radius: 5px;
    background-color: #4644a0;
    justify-content: flex-start;
    padding: 5px 1.800000000000182px 6px 13px;
    white-space: nowrap;
}

.instagram-link,
.twitter-link {
    max-width: 100%;
}

.twitter-link {
    justify-content: flex-start;
    gap: 0 41.1px;
}

.instagram-link {
    width: 1292.8px;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
}

.status-card-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 31px 0;
    max-width: 100%;
    color: #0053d8;
}

.feedback-comment {
    width: 1312px;
    position: absolute;
    margin: 0 !important;
    top: 616px;
    left: calc(50% - 656px);
    line-height: 140%;
    display: inline-block;
}

.ed-sheeran {
    width: 136px;
    position: relative;
    line-height: 150%;
    font-weight: 900;
    display: inline-block;
    z-index: 1;
}

.good-point {
    margin: 0;
}

.lorem-ipsum-dolor1 {
    margin-bottom: 0;
}

.lorem-ipsum-dolor-sit-amet-co {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 27px;
}

.need-to-improve {
    margin: 0;
}

.lorem-ipsum-dolor-sit-amet-co1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 27px;
}

.comment-content {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
}

.comment-content-wrapper,
.ed-sheeran-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.comment-content-wrapper {
    flex-direction: row;
    padding: 0 0 0 4px;
    box-sizing: border-box;
    text-align: left;
    font-size: 20px;
}

.ed-sheeran-parent {
    flex-direction: column;
    gap: 13px 0;
}

.comment-box-icon {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.icon-lecture,
.icon-time {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.icon-lecture {
    top: 25px;
    left: 23px;
    border-radius: 132.5px;
    width: 91px;
    height: 91px;
}

.icon-time {
    top: 355px;
    left: 138px;
    width: 16px;
    height: 16px;
}

.comment-box-parent {
    width: calc(100% - 2px);
    height: 406px;
    position: absolute;
    margin: 0 !important;
    top: 15.5px;
    right: 2px;
    left: 0;
}

.hour-ago {
    flex: 1;
    position: relative;
    line-height: 150%;
    font-weight: 300;
    z-index: 1;
}

.comment,
.hour-ago-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.hour-ago-text {
    width: 140px;
    flex-direction: row;
    padding: 0 28px;
    font-size: 16px;
}

.comment {
    align-self: stretch;
    border-radius: 10px;
    flex-direction: column;
    padding: 51.5px 62px 172.39999999999964px 134px;
    position: relative;
    gap: 24px 0;
    max-width: 100%;
}

.btn-send-icon,
.comment-box-icon1 {
    position: absolute;
    margin: 0 !important;
}

.btn-send-icon {
    width: 51px;
    height: 50px;
    top: 85px;
    right: -8px;
    object-fit: cover;
}

.comment-box-icon1 {
    height: 61px;
    width: 1257px;
    right: -1081.6px;
    bottom: -84.8px;
    border-radius: 10px;
}

.add-a-comment {
    height: 105px;
    width: 1320px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    flex-shrink: 0;
    max-width: 753%;
}

.comment-box-group {
    width: 175.3px;
    height: 18.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.blog-42,
.comment-box-input,
.comment1,
.privacy-policy-terms {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.comment1 {
    flex: 1;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 0 112px;
    box-sizing: border-box;
    position: relative;
    gap: 4px 0;
    min-height: 247px;
    z-index: 2;
}

.blog-42,
.comment-box-input,
.privacy-policy-terms {
    align-self: stretch;
}

.comment-box-input {
    flex-direction: row;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    margin-top: -140.9px;
    text-align: left;
    font-size: 24px;
}

.blog-42,
.privacy-policy-terms {
    flex-direction: column;
    text-align: center;
    font-size: 25px;
}

.blog-42 {
    background-color: #fff;
    overflow: hidden;
    padding: 112px 62px 0 64px;
    box-sizing: border-box;
    gap: 65px 0;
    text-align: left;
    font-size: 24px;
    color: #000;
    font-family: Roboto;
}

.blog-42,
.comp1640 {
    position: relative;
}

.ddsgnr-library3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ddsgnr-library2,
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ddsgnr-library2 {
    height: 88px;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.newsletter {
    width: 500px;
    justify-content: flex-start;
    max-width: 100%;
}

.about-us,
.popular {
    position: relative;
    line-height: 150%;
}

.about-us {
    align-self: stretch;
    font-weight: 600;
}

.popular {
    flex: 1;
    display: inline-block;
    max-width: 100%;
}

.link {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    box-sizing: border-box;
    max-width: 100%;
}

.trending {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
}

.link1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    box-sizing: border-box;
    max-width: 100%;
}

.contact {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
}

.link2 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    box-sizing: border-box;
    max-width: 100%;
}

.supporthelp {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
}

.link3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    box-sizing: border-box;
    max-width: 100%;
}

.request-topics {
    flex: 1;
    position: relative;
    line-height: 150%;
    display: inline-block;
    max-width: 100%;
}

.column3,
.footer-links,
.link4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.link4 {
    align-self: stretch;
    flex-direction: row;
    padding: 8px 0;
    box-sizing: border-box;
}

.column3,
.footer-links {
    flex-direction: column;
}

.footer-links {
    align-self: stretch;
    font-size: 14px;
}

.column3 {
    flex: 1;
    overflow: hidden;
    gap: 16px 0;
    min-width: 221px;
}

.follow-us {
    align-self: stretch;
    position: relative;
    line-height: 150%;
    font-weight: 600;
}

.icon-facebook {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.facebook {
    position: relative;
    line-height: 150%;
}

.link5 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    gap: 0 12px;
}

.icon-instagram {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.instagram {
    position: relative;
    line-height: 150%;
}

.link6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    gap: 0 12px;
}

.icon-twitter {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.twitter {
    position: relative;
    line-height: 150%;
}

.link7 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    gap: 0 12px;
}

.icon-linkedin {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
}

.linkedin {
    position: relative;
    line-height: 150%;
}

.link8 {
    align-self: stretch;
    flex-direction: row;
    padding: 8px 0;
    gap: 0 12px;
}

.column4,
.content14,
.link8,
.links,
.social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-links {
    align-self: stretch;
    flex-direction: column;
    font-size: 14px;
}

.column4,
.content14,
.links {
    max-width: 100%;
}

.column4 {
    flex: 1;
    flex-direction: column;
    gap: 16px 0;
    min-width: 221px;
}

.content14,
.links {
    flex-direction: row;
}

.links {
    flex: 1;
    gap: 0 40px;
    min-width: 468px;
    min-height: 248px;
    font-size: 16px;
    font-family: Roboto;
}

.content14 {
    align-self: stretch;
    padding: 0 92px 0 0;
    box-sizing: border-box;
    row-gap: 20px;
}

.divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    background-color: #fff;
}

.comp1640-all-right {
    position: relative;
    line-height: 150%;
}

.cookies-settings,
.privacy-policy,
.terms-of-service {
    position: relative;
    text-decoration: underline;
    line-height: 150%;
}

.cookies-settings,
.terms-of-service {
    flex: 1;
    display: inline-block;
    min-width: 68px;
}

.link-collection {
    width: 345px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0 24px;
    max-width: 100%;
}

.divider-line,
.row4 {
    align-self: stretch;
    max-width: 100%;
}

.row4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.divider-line {
    gap: 32px 0;
    font-size: 14px;
    font-family: Roboto;
}

.divider-line,
.footer-3,
.student-magazine-submitted {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-3 {
    align-self: stretch;
    background-color: #000;
    overflow: hidden;
    padding: 80px 64px;
    box-sizing: border-box;
    gap: 80px 0;
    max-width: 100%;
    text-align: left;
    font-size: 25.1px;
    color: #fff;
    font-family: Inter;
}

.student-magazine-submitted {
    width: 100%;
    position: relative;
    letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
    .blog-42,
    .comment {
        box-sizing: border-box;
    }

    .comment {
        padding-left: 67px;
        padding-right: 31px;
    }

    .blog-42 {
        padding-top: 73px;
    }

    .links {
        min-height: auto;
    }

    .content14 {
        flex-wrap: wrap;
        padding-right: 46px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {
    .card5,
    .card6 {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 750px) {
    .navbar-3 {
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
    }

    .card4 {
        flex-wrap: wrap;
    }

    .file-submit,
    .image,
    .status {
        gap: 0 16px;
    }

    .twitter-link {
        flex-wrap: wrap;
    }

    .status-card-content {
        gap: 15px 0;
    }

    .blog-42,
    .comment {
        box-sizing: border-box;
    }

    .comment {
        padding-left: 33px;
        padding-top: 33px;
        padding-bottom: 112px;
    }

    .blog-42 {
        gap: 32px 0;
        padding-left: 32px;
        padding-top: 47px;
        padding-right: 31px;
    }

    .links {
        flex-wrap: wrap;
        gap: 0 20px;
        min-width: 100%;
    }

    .content14 {
        padding-right: 23px;
        box-sizing: border-box;
    }

    .row4 {
        flex-wrap: wrap;
    }

    .divider-line {
        gap: 16px 0;
    }

    .footer-3 {
        gap: 40px 0;
        padding: 52px 32px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 450px) {
    .article-description,
    .article-title,
    .tech-terrain-navigating {
        font-size: 19px;
        line-height: 27px;
    }

    .lorem-ipsum-dolor {
        font-size: 19px;
        line-height: 29px;
    }

    .date-submitted {
        font-size: 19px;
        line-height: 27px;
    }

    .mar-15-2024-1100-am {
        font-size: 19px;
        line-height: 29px;
    }

    .final-deadline {
        font-size: 19px;
        line-height: 27px;
    }

    .may-10-2024-1159-pm,
    .submitted {
        font-size: 19px;
        line-height: 29px;
    }

    .file-submissions,
    .image-file {
        font-size: 19px;
        line-height: 27px;
    }

    .twitter-link {
        gap: 0 21px;
    }

    .feedback-comment {
        font-size: 19px;
        line-height: 27px;
    }

    .ed-sheeran {
        font-size: 20px;
        line-height: 30px;
    }

    .comment-content {
        font-size: 16px;
        line-height: 24px;
    }

    .add-a-comment {
        font-size: 19px;
        line-height: 27px;
    }

    .blog-42 {
        gap: 16px 0;
    }

    .comp1640 {
        font-size: 20px;
    }

    .link-collection {
        flex-wrap: wrap;
    }
}


