.bee-magazine {
  height: 30px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.ddsgnr-library,
.ddsgnr-library1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ddsgnr-library {
  height: 89px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
  box-sizing: border-box;
  font-size: 25.1px;
  font-family: Inter;
}
.home {
  position: relative;
  line-height: 150%;
}
.group-title-card-tech-terrain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
.upload {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.column,
.group-title-card-tech-terrain1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-title-card-tech-terrain1 {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.group-title-card-tech-terrain1:hover {
  background-color: rgba(51, 51, 51, 0.09);
}
.column {
  width: 167px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 0 32px;
}
.hi-ed {
  height: 36px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button1,
.hi-ed {
  position: relative;
  line-height: 150%;
}
.button,
.column2 {
  flex-direction: row;
  justify-content: center;
}
.button {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  padding: 8px 19px;
  white-space: nowrap;
}
.column2 {
  width: 94px;
  text-align: left;
}
.column1,
.column2,
.container,
.navbar-3 {
  display: flex;
  align-items: center;
}
.column1 {
  width: 245px;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  gap: 0 32px;
  text-align: center;
}
.container,
.navbar-3 {
  align-self: stretch;
}
.container {
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.navbar-3 {
  background-color: #fff;
  box-shadow: 0-1px 0#000 inset;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: 14px 64px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.magazine-title {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 800;
}
.content,
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title {
  width: 1292px;
  min-height: 42px;
  max-width: 633%;
  flex-shrink: 0;
}
.content {
  width: 204px;
}
.tech-terrain-navigating {
  width: 1051px;
  position: relative;
  line-height: 140%;
  display: inline-block;
  max-width: 100%;
}
.card,
.content1,
.row,
.title1 {
  display: flex;
  justify-content: flex-start;
}
.title1 {
  width: 1292px;
  flex-direction: column;
  align-items: flex-start;
  min-height: 42px;
  max-width: 633%;
  flex-shrink: 0;
}
.card,
.content1,
.row {
  flex-direction: row;
}
.content1 {
  width: 204px;
  align-items: flex-start;
  color: #000;
}
.card,
.row {
  align-items: center;
}
.card {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 0 24px;
  min-height: 52px;
  max-width: 100%;
}
.row {
  width: 1312px;
  background-color: #fff;
}
.magazine-description {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 800;
  font-family: inherit;
}
.content2,
.title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title2 {
  width: 1292px;
  min-height: 42px;
  max-width: 513%;
  flex-shrink: 0;
}
.content2 {
  width: 252px;
}
.lorem-ipsum-dolor {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
}
.card1,
.content3,
.row1,
.title3 {
  display: flex;
  justify-content: flex-start;
}
.title3 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-height: 42px;
  max-width: 100%;
}
.card1,
.content3,
.row1 {
  flex-direction: row;
}
.content3 {
  flex: 1;
  align-items: flex-start;
  min-width: 656px;
  max-width: 100%;
  color: #000;
}
.card1,
.row1 {
  align-items: center;
}
.card1 {
  flex: 1;
  padding: 0 16px 0 10px;
  box-sizing: border-box;
  gap: 0 24px;
  min-height: 52px;
  max-width: 100%;
}
.row1 {
  width: 1312px;
  background-color: #fff;
}
.deadline-to-submit {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 800;
}
.content4,
.title4 {
  width: 1292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title4 {
  justify-content: flex-start;
  min-height: 42px;
  max-width: 633%;
  flex-shrink: 0;
}
.content4 {
  height: 63px;
  justify-content: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.mar-15-2024-1100-am {
  width: 1292px;
  position: relative;
  line-height: 50%;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  flex-shrink: 0;
}
.card2,
.content5,
.row2,
.title5 {
  display: flex;
  justify-content: flex-start;
}
.title5 {
  width: 1062px;
  flex-direction: column;
  align-items: flex-start;
  min-height: 42px;
  max-width: 521%;
  flex-shrink: 0;
}
.card2,
.content5,
.row2 {
  flex-direction: row;
}
.content5 {
  width: 204px;
  align-items: flex-start;
  color: #000;
}
.card2,
.row2 {
  align-items: center;
}
.card2 {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 0 24px;
  min-height: 52px;
  max-width: 100%;
}
.row2 {
  width: 1312px;
  background-color: #fff;
}
.final-deadline {
  width: 190px;
  position: relative;
  line-height: 140%;
  font-weight: 800;
  display: inline-block;
}
.content6,
.title6 {
  width: 1292px;
  display: flex;
  justify-content: flex-start;
}
.title6 {
  height: 42px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 726%;
  flex-shrink: 0;
}
.content6 {
  height: 62px;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
}
.mar-20-2024-1159-pm {
  width: 1292px;
  position: relative;
  line-height: 150%;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 123%;
  flex-shrink: 0;
}
.title7 {
  width: 1054px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 42px;
  max-width: 436%;
  flex-shrink: 0;
}
.content7 {
  width: 242px;
  flex-direction: row;
  align-items: center;
  color: #000;
}
.card3,
.content7,
.magazine-inf,
.row3 {
  display: flex;
  justify-content: flex-start;
}
.card3 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  gap: 0 24px;
  min-height: 52px;
  max-width: 100%;
}
.magazine-inf,
.row3 {
  width: 1312px;
}
.row3 {
  background-color: #fff;
  flex-direction: row;
  align-items: center;
}
.magazine-inf {
  overflow-x: auto;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.upload1 {
  width: 1314px;
  height: 826px;
  position: relative;
  border-radius: 10px;
  background-color: #e6e6e6;
  display: none;
  max-width: 100%;
}
.tech-terrain-navigating1,
.title8 {
  position: relative;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.title8 {
  margin: 0;
  align-self: stretch;
  height: 42.9px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.tech-terrain-navigating1 {
  font-size: 18px;
  line-height: 150%;
}
.card-title-frame,
.card4 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card4 {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #545454;
  flex-direction: row;
  padding: 7px 16px;
  z-index: 1;
}
.card-title-frame {
  flex-direction: column;
  gap: 7.1px 0;
}
.description,
.lorem-ipsum-dolor1 {
  margin: 0;
  position: relative;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
}
.description {
  align-self: stretch;
  height: 42.9px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  flex-shrink: 0;
  z-index: 1;
}
.lorem-ipsum-dolor1 {
  flex: 1;
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  max-width: 100%;
}
.card-title-frame1,
.card5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.card5 {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #545454;
  flex-direction: row;
  padding: 13px 14px 19px 15px;
  flex-shrink: 0;
  z-index: 1;
}
.card-title-frame1 {
  flex-direction: column;
  padding: 0 0 18px;
  gap: 7.1px 0;
}
.submit-your-file {
  margin: 0;
  align-self: stretch;
  height: 42.9px;
  position: relative;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child {
  height: 34px;
  width: 126px;
  position: relative;
  border-radius: 3px;
  display: none;
}
.choose-file {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  z-index: 2;
}
.content8,
.vector-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vector-parent {
  border-radius: 3px;
  background-color: #d9d9d9;
  border: 0 solid #000;
  align-items: flex-start;
  padding: 5px 23px;
  white-space: nowrap;
  z-index: 1;
}
.content8 {
  height: 33px;
  align-items: flex-end;
  padding: 0 12px 0 0;
  box-sizing: border-box;
}
.no-file-choosen {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.card-wrapper,
.card6,
.no-file-choosen-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.no-file-choosen-wrapper {
  flex-direction: column;
  padding: 4.5px 0 0;
}
.card-wrapper,
.card6 {
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.card6 {
  flex: 1;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #545454;
  padding: 16.300000000000182px 8px;
  gap: 0 4px;
  z-index: 1;
}
.card-wrapper {
  align-self: stretch;
  padding: 0 0 5.5px;
}
.submit-image {
  margin: 0;
  align-self: stretch;
  height: 42.9px;
  position: relative;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-item {
  height: 34px;
  width: 126px;
  position: relative;
  border-radius: 3px;
  display: none;
}
.choose-file1 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  z-index: 2;
}
.content9,
.vector-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.vector-group {
  border-radius: 3px;
  background-color: #d9d9d9;
  border: 0 solid #000;
  align-items: flex-start;
  padding: 5px 23px;
  white-space: nowrap;
  z-index: 1;
}
.content9 {
  height: 33px;
  align-items: flex-end;
  padding: 0 12px 0 0;
  box-sizing: border-box;
}
.no-file-choosen1 {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.card7,
.no-file-choosen-container,
.submit-your-file-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.no-file-choosen-container {
  flex-direction: column;
  padding: 4.5px 0 0;
}
.card7,
.submit-your-file-parent {
  align-self: stretch;
}
.card7 {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #545454;
  flex-direction: row;
  padding: 16.300000000000182px 8px;
  gap: 0 4px;
  z-index: 1;
}
.submit-your-file-parent {
  flex-direction: column;
  padding: 0 0 18px;
  box-sizing: border-box;
  gap: 7.5px 0;
  max-width: 100%;
}
.rectangle-input {
  margin: 0;
  width: 26px;
  height: 27px;
  position: relative;
  border-radius: 3px;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 1;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3px 0 0;
}
.i-agree-to,
.terms-and-conditions {
  height: 33px;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
  display: flex;
  align-items: center;
  z-index: 1;
}
.terms-and-conditions {
  flex: 1;
  color: #1367e6;
  min-width: 120px;
  margin-left: -4px;
}
.frame-group,
.i-agree-to-the-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-agree-to-the-parent {
  flex: 1;
  min-width: 200px;
  row-gap: 20px;
}
.frame-group {
  align-self: stretch;
  flex-wrap: wrap;
  gap: 0 13px;
}
.submit-child {
  height: 41.5px;
  width: 91px;
  position: relative;
  border-radius: 10px;
  background-color: #4644a0;
  display: none;
}
.submit1 {
  flex: 1;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.submit {
  cursor: pointer;
  border: 0;
  padding: 6px 0 8.5px 21px;
  background-color: #4644a0;
  width: 91px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  z-index: 1;
}
.submit:hover {
  background-color: #6e6bc7;
}
.blog-42,
.frame-parent,
.upload-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 346px;
  gap: 17px 0;
}
.blog-42,
.upload-parent {
  align-self: stretch;
  box-sizing: border-box;
}
.upload-parent {
  margin: 0;
  border-radius: 10px;
  background-color: #e6e6e6;
  padding: 48px 59px 46.5px 41px;
  gap: 22px;
}
.blog-42 {
  background-color: #fff;
  overflow: hidden;
  padding: 112px 62px 67px 64px;
  gap: 50px 0;
  text-align: left;
  font-size: 24px;
  color: #0053d8;
  font-family: Roboto;
}
.comp1640 {
  position: relative;
}
.ddsgnr-library3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ddsgnr-library2,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ddsgnr-library2 {
  height: 88px;
  justify-content: center;
  padding: 20px 0;
  box-sizing: border-box;
}
.newsletter {
  width: 500px;
  justify-content: flex-start;
  max-width: 100%;
}
.about-us,
.popular {
  position: relative;
  line-height: 150%;
}
.about-us {
  align-self: stretch;
  font-weight: 600;
}
.popular {
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.trending {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.contact {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.supporthelp {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.request-topics {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.column3,
.footer-links,
.link4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.link4 {
  align-self: stretch;
  flex-direction: row;
  padding: 8px 0;
  box-sizing: border-box;
}
.column3,
.footer-links {
  flex-direction: column;
}
.footer-links {
  align-self: stretch;
  font-size: 14px;
}
.column3 {
  flex: 1;
  overflow: hidden;
  gap: 16px 0;
  min-width: 221px;
}
.follow-us {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook {
  position: relative;
  line-height: 150%;
}
.link5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-instagram {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram {
  position: relative;
  line-height: 150%;
}
.link6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-twitter {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.twitter {
  position: relative;
  line-height: 150%;
}
.link7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-linkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin {
  position: relative;
  line-height: 150%;
}
.link8 {
  align-self: stretch;
  flex-direction: row;
  padding: 8px 0;
  gap: 0 12px;
}
.column4,
.content10,
.link8,
.links,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links {
  align-self: stretch;
  flex-direction: column;
  font-size: 14px;
}
.column4,
.content10,
.links {
  max-width: 100%;
}
.column4 {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
  min-width: 221px;
}
.content10,
.links {
  flex-direction: row;
}
.links {
  flex: 1;
  gap: 0 40px;
  min-width: 468px;
  min-height: 248px;
  font-size: 16px;
  font-family: Roboto;
}
.content10 {
  align-self: stretch;
  padding: 0 92px 0 0;
  box-sizing: border-box;
  row-gap: 20px;
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #fff;
}
.comp1640-all-right {
  position: relative;
  line-height: 150%;
}
.cookies-settings,
.privacy-policy,
.terms-of-service {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings,
.terms-of-service {
  flex: 1;
  display: inline-block;
  min-width: 68px;
}
.cookies-settings-frame {
  width: 345px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 24px;
  max-width: 100%;
}
.icon-twitter1,
.row4 {
  align-self: stretch;
  max-width: 100%;
}
.row4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.icon-twitter1 {
  gap: 32px 0;
  font-size: 14px;
  font-family: Roboto;
}
.footer-3,
.icon-twitter1,
.student-magazine-submit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-3 {
  align-self: stretch;
  background-color: #000;
  overflow: hidden;
  padding: 80px 64px;
  box-sizing: border-box;
  gap: 80px 0;
  max-width: 100%;
  text-align: left;
  font-size: 25.1px;
  color: #fff;
  font-family: Inter;
}
.student-magazine-submit {
  width: 100%;
  position: relative;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .upload-parent {
    padding-right: 29px;
    box-sizing: border-box;
  }
  .blog-42 {
    padding-top: 73px;
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .links {
    min-height: auto;
  }
  .content10 {
    flex-wrap: wrap;
    padding-right: 46px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .upload-parent {
    padding-top: 31px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .blog-42,
  .navbar-3 {
    box-sizing: border-box;
  }
  .navbar-3 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .blog-42 {
    gap: 25px 0;
    padding: 47px 31px 29px 32px;
  }
  .links {
    flex-wrap: wrap;
    gap: 0 20px;
    min-width: 100%;
  }
  .content10 {
    padding-right: 23px;
    box-sizing: border-box;
  }
  .row4 {
    flex-wrap: wrap;
  }
  .icon-twitter1 {
    gap: 16px 0;
  }
  .footer-3 {
    gap: 40px 0;
    padding: 52px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .magazine-description,
  .magazine-title,
  .tech-terrain-navigating {
    font-size: 19px;
    line-height: 27px;
  }
  .lorem-ipsum-dolor {
    font-size: 19px;
    line-height: 29px;
  }
  .deadline-to-submit {
    font-size: 19px;
    line-height: 27px;
  }
  .mar-15-2024-1100-am {
    font-size: 19px;
    line-height: 29px;
  }
  .final-deadline {
    font-size: 19px;
    line-height: 27px;
  }
  .mar-20-2024-1159-pm {
    font-size: 19px;
    line-height: 29px;
  }
  .description,
  .title8 {
    font-size: 19px;
    line-height: 27px;
  }
  .lorem-ipsum-dolor1 {
    font-size: 16px;
    line-height: 24px;
  }
  .submit-your-file {
    font-size: 19px;
    line-height: 27px;
  }
  .card6 {
    flex-wrap: wrap;
  }
  .submit-image {
    font-size: 19px;
    line-height: 27px;
  }
  .card7 {
    flex-wrap: wrap;
  }
  .terms-and-conditions {
    margin-left: 0;
  }
  .i-agree-to-the-parent {
    flex-wrap: wrap;
  }
  .upload-parent {
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  .comp1640 {
    font-size: 20px;
  }
  .cookies-settings-frame {
    flex-wrap: wrap;
  }
}