.bee-magazine {
  height: 30px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.ddsgnr-library,
.ddsgnr-library1 {
  display: flex;
  justify-content: center;
}
.ddsgnr-library1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.ddsgnr-library {
  height: 41px;
  width: 202px;
  flex-direction: column;
  align-items: flex-start;
  padding: 29px 0;
  box-sizing: border-box;
  font-size: 25.1px;
  font-family: Inter;
}
.home {
  position: relative;
  line-height: 150%;
}
.tech-terrain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
}
.upload {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  font-family: Roboto;
  color: #000;
  text-align: left;
}
.column,
.tech-terrain1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tech-terrain1 {
  cursor: pointer;
  border: 0;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid #000;
}
.tech-terrain1:hover {
  background-color: rgba(51, 51, 51, 0.09);
}
.column {
  width: 167px;
  overflow: hidden;
  flex-shrink: 0;
  gap: 0 32px;
}
.hi-ed {
  height: 36px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1,
.hi-ed {
  position: relative;
  line-height: 150%;
}
.button,
.column2 {
  justify-content: center;
}
.button {
  flex: 1;
  border-radius: 5px;
  border: 1px solid #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 17px;
  white-space: nowrap;
}
.column2 {
  width: 94px;
  text-align: left;
}
.column1,
.column2,
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column1 {
  width: 245px;
  background-color: #fff;
  justify-content: center;
  gap: 0 32px;
  text-align: center;
}
.container {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.navbar-3,
.panel {
  background-color: #fff;
  box-sizing: border-box;
}
.navbar-3 {
  align-self: stretch;
  box-shadow: 0-1px 0#000 inset;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 64px;
  min-height: 72px;
}
.panel {
  height: 38px;
  width: 397.3px;
  position: relative;
  border-radius: 50px;
  border: 1px solid #d1d1d1;
  display: none;
  max-width: 100%;
}
.icon-search {
  height: 24.2px;
  width: 24.2px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.frame-divider,
.search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.search {
  flex: 1;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  align-items: center;
  padding: 7px 6px;
}
.frame-divider {
  width: 400px;
  align-items: flex-start;
  padding: 0 0 0 3px;
}
.latest-magazines {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.frame-search-bar,
.section-title,
.title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.section-title {
  flex: 1;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  padding: 14px 0;
}
.frame-search-bar,
.title {
  align-self: stretch;
}
.title {
  border-radius: 10px;
  background-color: #cddffc;
  flex-direction: row;
  justify-content: center;
  padding: 0 1px 0 0;
}
.frame-search-bar {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 22px;
  gap: 33px 0;
  text-align: center;
  font-size: 36px;
  color: #000;
  font-family: Roboto;
}
.innovate-it-celebrates,
.innovate-it-pioneering {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.innovate-it-pioneering {
  margin: 0;
  width: 397px;
  font-size: 24px;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.innovate-it-celebrates {
  width: 389px;
  line-height: 150%;
}
.deadline-to-submit {
  font-family: Roboto;
}
.deadline-to-submit-mar-15-202 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.deadline-to-submit-container {
  width: 397px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.final-deadline {
  font-family: Roboto;
}
.final-deadline-mar-20-2024-1 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.final-deadline-mar-20-2024-container {
  width: 389px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.card,
.content,
.title1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title1 {
  width: 416px;
  gap: 8px 0;
  max-width: 107%;
  flex-shrink: 0;
}
.card,
.content {
  max-width: 100%;
}
.content {
  align-self: stretch;
}
.card {
  flex: 0.9797;
  border-radius: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px 18px 10px 10px;
  min-width: 312px;
  min-height: 342px;
}
.tech-terrain-delves,
.tech-terrain-navigating {
  width: 396px;
  position: relative;
  display: inline-block;
}
.tech-terrain-navigating {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.tech-terrain-delves {
  font-size: 16px;
  line-height: 150%;
}
.content1,
.title2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title2 {
  gap: 8px 0;
}
.content1 {
  font-size: 24px;
}
.deadline-to-submit1 {
  font-family: Roboto;
}
.deadline-to-submit-mar-15-2021 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.deadline-to-submit-container1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.final-deadline1 {
  font-family: Roboto;
}
.final-deadline-mar-20-2024-11 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.final-deadline-mar-20-2024-container1 {
  align-self: stretch;
  height: 28px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
}
.card1 {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 11px 10px 9px;
  min-width: 312px;
  min-height: 342px;
  max-width: 100%;
}
.data-dynamics-unlocks,
.data-dynamics-unraveling {
  width: 396px;
  position: relative;
  display: inline-block;
}
.data-dynamics-unraveling {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.data-dynamics-unlocks {
  font-size: 16px;
  line-height: 150%;
}
.content2,
.title3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title3 {
  gap: 8px 0;
}
.content2 {
  font-size: 24px;
}
.deadline-to-submit2 {
  font-family: Roboto;
}
.deadline-to-submit-mar-15-2022 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.deadline-to-submit-container2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.final-deadline2 {
  font-family: Roboto;
}
.final-deadline-mar-20-2024-12 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.final-deadline-mar-20-2024-container2 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.card2,
.row {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.card2 {
  flex: 1;
  border-radius: 10px;
  border: 1px solid #000;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 11px 10px 9px;
  min-width: 312px;
}
.row {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 9px 23px;
  gap: 0 32px;
}
.magazines-have-been {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.section-title1 {
  width: 1312px;
  border-radius: 10px;
  background-color: #cddffc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 36px;
}
.tech-terrain-delves1,
.tech-terrain-navigating1 {
  width: 396px;
  position: relative;
  display: inline-block;
}
.tech-terrain-navigating1 {
  margin: 0;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
}
.tech-terrain-delves1 {
  font-size: 16px;
  line-height: 150%;
}
.content3,
.title4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title4 {
  gap: 8px 0;
}
.content3 {
  padding: 0 5px 0 0;
  font-size: 24px;
}
.deadline-for-submit {
  font-family: Roboto;
}
.deadline-for-submit-dec-02-20 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.deadline-for-submit-container {
  width: 389px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
}
.final-deadline3 {
  font-family: Roboto;
}
.final-deadline-dec-20-2023-1 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.final-deadline-dec-20-2023-container {
  width: 389px;
  height: 28px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.card3 {
  width: 421px;
  border-radius: 10px;
  border: 1px solid #000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 11px 10px 9px;
  min-width: 421px;
  min-height: 342px;
  max-width: 100%;
}
.data-dynamics-unraveling1 {
  margin: 0;
  width: 396px;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.data-dynamics-unlocks1 {
  width: 396px;
  position: relative;
  font-size: 16px;
  line-height: 150%;
  display: inline-block;
}
.content4,
.title5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title5 {
  gap: 8px 0;
}
.content4 {
  font-size: 24px;
}
.deadline-for-submit1 {
  font-family: Roboto;
}
.deadline-for-submit-mar-15-20 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.deadline-for-submit-container1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.final-deadline4 {
  font-family: Roboto;
}
.final-deadline-mar-20-2024-13 {
  margin: 0;
  font-size: inherit;
  padding-left: 21px;
}
.final-deadline-mar-20-2024-container3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.blog-42,
.card4,
.row1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.card4 {
  width: 416px;
  border-radius: 10px;
  border: 1px solid #000;
  flex-direction: column;
  padding: 10px 11px 10px 9px;
  min-width: 416px;
}
.blog-42,
.row1 {
  align-self: stretch;
  flex-direction: row;
  padding: 9px 23px;
  gap: 0 32px;
}
.blog-42 {
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 41px 41px 112px;
  gap: 66px 0;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
.comp1640 {
  position: relative;
}
.ddsgnr-library3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ddsgnr-library2,
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ddsgnr-library2 {
  height: 41px;
  justify-content: center;
  padding: 29px 0;
  box-sizing: border-box;
}
.newsletter {
  width: 500px;
  justify-content: flex-start;
  max-width: 100%;
}
.about-us,
.popular {
  position: relative;
  line-height: 150%;
}
.about-us {
  align-self: stretch;
  font-weight: 600;
}
.popular {
  flex: 1;
  display: inline-block;
  max-width: 100%;
}
.link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.trending {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.contact {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.supporthelp {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.link3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  box-sizing: border-box;
  max-width: 100%;
}
.request-topics {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.column3,
.footer-links,
.link4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.link4 {
  align-self: stretch;
  flex-direction: row;
  padding: 8px 0;
  box-sizing: border-box;
}
.column3,
.footer-links {
  flex-direction: column;
}
.footer-links {
  align-self: stretch;
  font-size: 14px;
}
.column3 {
  flex: 1;
  overflow: hidden;
  gap: 16px 0;
  min-width: 221px;
}
.follow-us {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook {
  position: relative;
  line-height: 150%;
}
.link5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-instagram {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram {
  position: relative;
  line-height: 150%;
}
.link6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-twitter {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.twitter {
  position: relative;
  line-height: 150%;
}
.link7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 0 12px;
}
.icon-linkedin {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin {
  position: relative;
  line-height: 150%;
}
.link8 {
  align-self: stretch;
  flex-direction: row;
  padding: 8px 0;
  gap: 0 12px;
}
.column4,
.content5,
.link8,
.links,
.social-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-links {
  align-self: stretch;
  flex-direction: column;
  font-size: 14px;
}
.column4,
.content5,
.links {
  max-width: 100%;
}
.column4 {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
  min-width: 221px;
}
.content5,
.links {
  flex-direction: row;
}
.links {
  width: 720px;
  gap: 0 40px;
  min-width: 720px;
  min-height: 248px;
  font-size: 16px;
  font-family: Roboto;
}
.content5 {
  align-self: stretch;
  row-gap: 20px;
}
.divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: #fff;
}
.comp1640-all-right {
  position: relative;
  line-height: 150%;
}
.cookies-settings,
.privacy-policy,
.terms-of-service {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings,
.terms-of-service {
  flex: 1;
  display: inline-block;
  min-width: 68px;
}
.privacy-policy-terms-cookies-s,
.row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.privacy-policy-terms-cookies-s {
  width: 345px;
  justify-content: flex-start;
  gap: 0 24px;
}
.row2 {
  align-self: stretch;
  justify-content: space-between;
  gap: 20px;
}
.footer-3,
.link-twitter,
.student-magazine {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.link-twitter {
  align-self: stretch;
  align-items: flex-start;
  gap: 32px 0;
  max-width: 100%;
  font-size: 14px;
  font-family: Roboto;
}
.footer-3,
.student-magazine {
  text-align: left;
}
.footer-3 {
  align-self: stretch;
  background-color: #000;
  overflow: hidden;
  align-items: center;
  padding: 80px 64px;
  box-sizing: border-box;
  gap: 80px 0;
  max-width: 100%;
  font-size: 25.1px;
  color: #fff;
  font-family: Inter;
}
.student-magazine {
  width: 100%;
  position: relative;
  align-items: flex-start;
  letter-spacing: normal;
  font-size: 16px;
  color: #000;
  font-family: Roboto;
}
@media screen and (max-width: 1275px) {
  .card,
  .card1 {
    min-height: auto;
  }
  .row {
    flex-wrap: wrap;
  }
  .blog-42 {
    padding-top: 27px;
    padding-bottom: 73px;
    box-sizing: border-box;
  }
  .links {
    flex: 1;
    min-height: auto;
  }
  .content5 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .card3 {
    flex: 1;
    min-height: auto;
  }
  .card4 {
    flex: 1;
  }
  .row1 {
    flex-wrap: wrap;
    justify-content: center;
  }
  .links {
    min-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    flex-wrap: wrap;
  }
  .navbar-3 {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
  .frame-search-bar {
    gap: 16px 0;
  }
  .row {
    gap: 0 16px;
  }
  .magazines-have-been {
    font-size: 29px;
    line-height: 35px;
  }
  .card3,
  .card4 {
    min-width: 100%;
  }
  .blog-42 {
    gap: 33px 0;
    padding-top: 20px;
    padding-bottom: 47px;
    box-sizing: border-box;
  }
  .links {
    gap: 0 20px;
  }
  .links,
  .row2 {
    flex-wrap: wrap;
  }
  .link-twitter {
    gap: 16px 0;
  }
  .footer-3 {
    gap: 40px 0;
    padding: 52px 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bee-magazine {
    font-size: 20px;
  }
  .innovate-it-pioneering {
    font-size: 19px;
    line-height: 27px;
  }
  .card {
    flex: 1;
  }
  .data-dynamics-unraveling,
  .tech-terrain-navigating {
    font-size: 19px;
    line-height: 27px;
  }
  .magazines-have-been {
    font-size: 22px;
    line-height: 26px;
  }
  .data-dynamics-unraveling1,
  .tech-terrain-navigating1 {
    font-size: 19px;
    line-height: 27px;
  }
  .row1 {
    gap: 0 16px;
  }
  .blog-42 {
    gap: 16px 0;
  }
  .comp1640 {
    font-size: 20px;
  }
  .privacy-policy-terms-cookies-s {
    flex-wrap: wrap;
  }
}